
# //////////////////////////////// DATABASE CONFIGRATION
HOST="localhost"
PORT=5432
DB_USERNAME="postgres"
PASSWORD="123456"
DATABASE="baianatTask2"

# ////////////////////////////////

# //////////////////////////////// bcrypt env
SALTROUNDS=10
# ////////////////////////////////