
# //////////////////////////////// DATABASE CONFIGRATION
HOST="localhost"
PORT=5432
DB_USERNAME="postgres"
PASSWORD="123456"
DATABASE="baianatTask2"

# ////////////////////////////////

# //////////////////////////////// bcrypt env
SALTROUNDS=10
# ////////////////////////////////

# //////////////////////////////// json web tocken env
SECRET_NAME="secret"
EXPIRED="24h"
# //////////////////////////////// 

# //////////////////////////////// mail tarp
MAIL_HOST='smtp.mailtrap.io'
MAIL_PORT=587
MAIL_HOST='smtp.mailtrap.io'
MAIL_USER='b954a5c39c2bbd'
MAIL_PASS='535437f8e5750f'
MAIL_FROM='zaza595977777@gmail.com'
# //////////////////////////////// 